<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="output.css">
    <title>{% block page_title %}
      {% endblock page_title %}</title>
  </head>
  <body>
    <div class="px-5 bg-blue-600 py-3 text-white">
      <ul class="flex relative gap-3 items-baseline">
        <li class="text-2xl hover:text-gray-300">
          <a href="#">CodingYar.com</a>
        </li>
        <li class="hover:text-gray-300"><a href="#">Home</a></li>
        <li class="hover:text-gray-300"><a href="#">Blog</a></li>
        <li><a href="#">New Post</a></li>
        <li class="ml-auto flex"><p>Welcome {{user.username}} |</p><form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">logout</button>
      </form></li>
      </ul>
    </div>
    <header class="bg-blue-400 text-white px-32 py-10">
      <h1 class="text-4xl mb-5">Welcome to Python and Django Blog</h1>
      <p class="">We share python and django tips and tricks here.</p>
    </header>
    <main class="pt-10 px-24">
        <div class="w-2/4 mx-auto">
            <div class="p-5 border-2 rounded shadow-md mb-5">
              <h3 class="text-3xl mb-10 text-center font-semibold">You’ve successfully logged out of Blog Site!</h3>
              <div class="text-center"><a href="{% url 'login'%}"  class="text-white rounded mx-auto bg-blue-600 py-3 px-3 hover:bg-blue-400">Login again?</a></div>
            </div>
        </div>
    </main>

  </body>
</html>
